.maintenance-status-blue {
  background-color: rgb(109, 174, 226);
}

.maintenance-status-orange {
  background-color: rgb(241, 187, 105);
}

.maintenance-status-green {
  background-color: rgb(179, 216, 179);
}

.maintenance-status-red {
  background-color: red;
  color: white;
}