table, td, th {
    border: 2px solid #333;
}

.link-to-new {
  border-radius: 8px;
}

.remove-deco-link {
  color: #016A97;
}

.remove-deco-link:hover {
  text-decoration: none;
  color: #016A97;
  opacity: 0.6;
}

.title-table-external {
  font-weight: bold;
}