table, td, th {
    border: 1px solid #333;
}

.title-external {
  color: #016A97;
}

.link-to-new {
  border-radius: 8px;
}

.back-color {
  background-color: rgba(1, 106, 151, .1);
}

.company-select {
  background-color: rgba(1, 106, 151, .0);
}