.show_external_container {
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-60%); /* tiré de la moitié de sa propre hauteur */
	background-color: white;
	padding: 32px;
	border-radius: 4px;

	h2 {
		color: #016a97;
		margin-bottom: 2em;
	}
	p {
		margin-bottom: 2em;
	}
}
