<h1>Interlocuteurs Interne</h1>

 <% @internal_interlocutors.each do |internal_interlocutor| %>
  <div class="index_equipment_flex d-flex justify-content-around">
    <h2><%= internal_interlocutor.visa %></h2>
    <p><%= internal_interlocutor.phone_number %></p>
  </div>
<% end %>