.title-equipment {
  color: #016A97;
}

.back-color {
  background-color: rgba(1, 106, 151, .1);
}

.status-color-green {
  color: green;
}

.status-color-red {
  color: red;
}

.btn-equipment {
  width: 100px;
  text-align: center;
  background-color: #0275d8;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 1;
}

.btn-equipment:hover  {
  opacity: 0.8;
}