.equipment_index_container {
  width: 90vw;
  margin: 0 auto;
}

.equipment-align-items {
  border: 1px solid grey;
  margin-bottom: 2px;
}

.equipment-align-item {
  padding: 4px;
  display : inline-block;
  max-width: 210px;
  min-width: 210px;
}
