.container_show_equipment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .card-equipment {
    border-radius: 8px;
    background: white;
    padding: 24px;
    width: 35vw;
    height: auto;
    font-size: 24px;

    .equipement_item_show {
      // font-weight: bol d;
      color: #016A97;
    }

    .btn_add_maintenance {
      display: flex;
      justify-content: center;
    }
  }
}
