.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #016A97;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #0281b8;
  color: white;
}

.calendar-container {
  width: 80vw;
  margin: 0 auto;
}