.maintenance_card {
	display: flex;
	border: 1px solid lightgrey;
	position: relative;
}

.maintenance_card_list {
	padding: 32px;
	width: 31%;
	color: black;
}

.maintenance_card_description {
	background-color: rgb(255, 255, 255);
	padding: 32px;
	text-align: justify;
	width: 69%;
	h3 {
		color: $blue;
	}
}

.maintenance_edit {
	position: absolute;
	bottom: 0;
	right: 20px;
}
