.navbar-bioprotec {
  justify-content: space-between;
  background: white;
}

.navbar-bioprotec .navbar-collapse {
  flex-grow: 0;
}

.navbar-bioprotec .navbar-brand img {
  width: 40px;
}

.logo_bioprotec_nav {
  width: 100px !important;
}

.nav-link {
  color: #016A97 !important;
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
  border-bottom: 1px solid #016A97;
}

.nav-profil {
  color: green !important;
}

.logout {
  color: red !important;
}

.logout:hover {
  border-bottom: 1px solid red !important;
}