.navbar-bioprotec {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background: white;
}

.navbar-bioprotec .navbar-collapse {
  flex-grow: 0;
}

.navbar-bioprotec .navbar-brand img {
  width: 40px;
}

.logo_bioprotec_nav {
  width: 100px !important;
}

.nav-link {
  color: #016A97 !important;
  opacity: 0.8;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav-profil {
  color: green !important;
}

.logout {
  color: red !important;
}
