// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/login";
@import "pages/index";
@import "pages/equipment/index";
@import "pages/equipment/show";
@import "pages/equipment/new";
@import "pages/equipment/edit";
@import "pages/external_interlocutors/index";
@import "pages/external_interlocutors/show";
@import "pages/external_interlocutors/new";
@import "pages/external_interlocutors/edit";
@import "pages/maintenances/new";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.remove-deco-link {
  color: #016A97;
}

.remove-deco-link:hover {
  text-decoration: none;
  color: #016A97;
  opacity: 0.6;
}
